@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
	
}

#wpadminbar{
	background: #2E3440;
    color:#E5E9F0;
    padding:15px 10px;
    right:0;
    width:auto;
    z-index:9998
}

#adminmenuback, #adminmenuwrap, #adminmenu{
    background-color:#2E3440;
}

#adminmenuwrap{
	padding-top: 30px;
}

#wp-admin-bar-root-default{
	display:none;
}

#wp-admin-bar-my-account{
	display: flex;
	justify-content: start;
	align-content: center;
}

#wp-toolbar{

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-content: center;
}

#fjord-logo{
	font-weight: 700;
	font-size: 18px;
	display: flex;
	justify-content: start;
	align-content: center;
}

#fjord-logo-img{
	width: 45px;
}

#wpbody-content{
	padding-top: 30px;
}

.wp-menu-name{
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}
